[submodule "testdata"]
	path = testdata
	url = https://github.com/pkgcraft/pkgcraft-testdata.git
[submodule "crates/scallop/bash"]
	path = crates/scallop/bash
	url = https://github.com/pkgcraft/bash.git
