[package]
name = "pkgcraft"
version = "0.0.2"
description = "library of Gentoo functionality"
authors = ["Tim Harder <radhermit@gmail.com>"]
homepage = "https://github.com/pkgcraft/pkgcraft"
repository = "https://github.com/pkgcraft/pkgcraft"
readme = "README.md"
license = "MIT"
edition = "2021"
rust-version = "1.60"
autotests = false

[lib]
name = "pkgcraft"
path = "src/lib.rs"

[features]
git = ["git2"]
https = ["flate2", "reqwest", "tar", "tokio"]

[dependencies]
async-trait = "0.1.51"
cached = "0.34"
camino = { version = "1.0.7", features = ["serde1"] }
chic = "1"
clap = { version = "3.1.0", features = ["derive"] }
enum-as-inner = "0.5.0"
filetime = "0.2"
flate2 = { version = "1.0", optional = true }
futures = "0.3.16"
git2 = { version = "0.14", optional = true }
glob = "0.3.0"
indexmap = { version = "1.8.0", features = ["serde"] }
rust-ini = "0.18"
is_executable = "1.0.1"
itertools = "0.10.3"
nix = "0.24"
once_cell = "1.8.0"
peg = "0.8"
regex = "1"
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls", "stream"], optional = true }
scallop = { path = "../scallop", version = "0.0.1" }
serde = { version = "1.0", features = ["derive"] }
serde_with = "1.9.4"
strum = { version = "0.24", features = ["derive"] }
tar = { version = "0.4.38", optional = true }
tempfile = "3"
thiserror = "1.0.26"
tokio = { version = "1.14", features = ["full"], optional = true }
toml = "0.5.8"
tracing = "0.1"
walkdir = "2"

[dev-dependencies]
criterion = "0.3"
indoc = "1.0.3"
maplit = "1.0.2"
rusty-fork = "0.3.0"
tracing-test = "0.2.1"

[[bench]]
name = "bench"
harness = false
