[package]
name = "pkgcraft"
version = "0.0.5"
description = "library of Gentoo functionality"
homepage = "https://github.com/pkgcraft/pkgcraft/tree/main/crates/pkgcraft"
repository = "https://github.com/pkgcraft/pkgcraft/tree/main/crates/pkgcraft"
readme = "README.md"
license = "MIT"
autotests = false
authors.workspace = true
edition.workspace = true
rust-version.workspace = true

[lib]
name = "pkgcraft"
path = "src/lib.rs"

[features]
default = ["init"]
# enable git repo syncing support
git = ["dep:git2"]
# enable repo syncing over https, e.g. tar+https
https = ["dep:flate2", "dep:reqwest", "dep:tar", "dep:tokio"]
# run initialization procedures on startup for bash integration
init = ["dep:ctor"]

[dependencies]
async-trait = "0.1.51"
cached = "0.42"
camino = { version = "1.0.7", features = ["serde1"] }
chic = "1"
clap = { version = "4", features = ["derive"] }
crossbeam-channel = "0.5.5"
ctor = { version = "0.1.22", optional = true }
enum-as-inner = "0.5.0"
filetime = "0.2"
flate2 = { version = "1.0", optional = true }
futures = "0.3.16"
git2 = { version = "0.16", optional = true }
glob = "0.3.0"
indexmap = { version = "1.8.0", features = ["serde"] }
indoc = "1.0.3"
is_executable = "1.0.1"
itertools = "0.10.3"
nix = "0.26"
once_cell = "1.8.0"
peg = "0.8"
regex = "1.7.0"
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls", "stream"], optional = true }
roxmltree = "0.17"
rust-ini = "0.18"
scallop = { path = "../scallop", version = "0.0.4" }
serde = { version = "1.0", features = ["derive"] }
serde_with = { version = "2", default-features = false, features = ["macros"] }
strum = { version = "0.24", features = ["derive"] }
sys-info = "0.9"
tar = { version = "0.4.38", optional = true }
tempfile = "3"
thiserror = "1.0.26"
tokio = { version = "1.24", features = ["full"], optional = true }
toml = "0.5.8"
tracing = "0.1"
walkdir = "2"

[dev-dependencies]
criterion = "0.4"
maplit = "1.0.2"
tracing-test = "0.2.1"

[[bench]]
name = "bench"
harness = false
