name: audit

on:
  schedule:
    # run every Saturday at midnight
    - cron: '0 0 * * 6'
  push:
    branches: ['**']
    paths:
      - "Cargo.lock"
      - ".github/workflows/audit.yml"
  workflow_dispatch:

jobs:
  audit:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        submodules: true

    - uses: actions-rust-lang/audit@v1
