name: cargo-publish

on:
  push:
    tags: ['**']
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Parse tag name
      run: |
        TAG=${{ inputs.tag }}
        if [[ -n ${TAG} ]]; then
          echo "Doing a dry run for tag: ${TAG}"
        else
          TAG=${{ github.ref_name }}
          echo "PUBLISH_CRATE=true" >> $GITHUB_ENV
        fi

        echo "PKG=${TAG%%-[0-9]*}" >> $GITHUB_ENV
        echo "VERSION=${TAG##*[a-z]-}" >> $GITHUB_ENV

    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Set up rust toolchain
      uses: dtolnay/rust-toolchain@stable

    - name: Install protoc
      uses: taiki-e/install-action@protoc

    - name: Install cargo-nextest
      uses: taiki-e/install-action@nextest

    - name: Run tests for package
      run: cargo nextest run --all-features --tests -p ${PKG}

    - name: Clean up git repos
      run: |
        git clean -fxd
        git submodule foreach --recursive git clean -fxd

    - name: Publish crate
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      run: |
        if ${PUBLISH_CRATE}; then
          cargo publish --no-verify -p ${PKG}
        else
          cargo publish --no-verify --dry-run -p ${PKG}
        fi
