name: cargo-publish

on:
  push:
    tags: ['**']
    branches: ['**']
    paths:
      - ".github/workflows/cargo-publish.yml"
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Determine package to publish
      run: |
        if [[ ${{ github.ref_type }} == 'tag' ]]; then
          TAG=${{ github.ref_name }}
          echo "PUBLISH_CRATE=true" >> $GITHUB_ENV
        elif [[ -n "${{ inputs.tag }}" ]]; then
          TAG=${{ inputs.tag }}
          echo "Doing a dry run for tag: ${TAG}"
        else
          TAG=pkgcraft
          echo "Doing a test run for pkgcraft"
        fi

        echo "PKG=${TAG%%-[0-9]*}" >> $GITHUB_ENV
        echo "VERSION=${TAG##*[a-z]-}" >> $GITHUB_ENV

    - name: Checkout code
      uses: actions/checkout@v6
      with:
        submodules: true

    - name: Restore cache
      uses: actions/cache/restore@v4
      id: restore-cache
      with:
        path: ~/scallop
        key: ${{ github.workflow }}-${{ github.job }}-${{ runner.os }}-scallop-${{ hashFiles('crates/scallop/bash/configure') }}

    - name: Remove old caches
      if: ${{ steps.restore-cache.outputs.cache-hit != 'true' }}
      continue-on-error: true
      run: |
        gh extension install actions/gh-actions-cache

        REPO=${{ github.repository }}
        BRANCH=${{ github.ref }}
        KEY=${{ github.workflow }}-${{ github.job }}-${{ runner.os }}-scallop-

        # find matching caches
        mapfile -t cache_keys < <( gh actions-cache list -R $REPO -B $BRANCH --key $KEY --sort created-at --order desc | cut -f 1 )

        # remove all matching caches
        for key in ${cache_keys[@]}
        do
          gh actions-cache delete $key -R $REPO -B $BRANCH --confirm
        done

        exit 0
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Build the required scallop release
      if: ${{ steps.restore-cache.outputs.cache-hit != 'true' }}
      run: |
        # determine required version
        version=$(sed -rn "/^PACKAGE_VERSION=/ s/^.*='(.*)'/\1/p" crates/scallop/bash/configure)
        pkg="scallop-${version}"

        # fetch and unpack
        if [[ ${PKG} != ${VERSION} ]]; then
          curl -L https://github.com/pkgcraft/bash/releases/download/${pkg}/${pkg}.tar.xz | tar -xJ
          cd ${pkg}
          echo "Building and installing ${pkg} release"
        else
          cd crates/scallop/bash
          echo "Building and installing ${pkg} from git"
        fi

        # build and install scallop
        ./configure-scallop --prefix=~/scallop
        make -j libscallop.so
        sudo make install-library install-headers

        # make scallop crate use shared library
        echo "SCALLOP_NO_VENDOR=1" >> $GITHUB_ENV
        echo "PKG_CONFIG_LIBDIR=~/scallop/lib/pkgconfig" >> $GITHUB_ENV
        echo "LD_LIBRARY_PATH=~/scallop/lib" >> $GITHUB_ENV

    - name: Save cache
      if: ${{ steps.restore-cache.outputs.cache-hit != 'true' }}
      uses: actions/cache/save@v4
      with:
        path: ~/scallop
        key: ${{ steps.restore-cache.outputs.cache-primary-key }}

    - name: Set up rust toolchain
      uses: dtolnay/rust-toolchain@stable

    - name: Install protoc
      uses: taiki-e/install-action@protoc

    - name: Install cargo-nextest
      uses: taiki-e/install-action@nextest

    - name: Run tests for package
      run: cargo nextest run --all-features --tests -p ${PKG}

    - name: Clean up git repos
      run: |
        git clean -fxd
        git submodule foreach --recursive git clean -fxd

    - name: Publish crate
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      run: |
        if [[ ${{ github.ref_type }} == 'tag' ]]; then
          cargo publish --no-verify -p ${PKG}
        elif [[ -n "${{ inputs.tag }}" ]]; then
          cargo publish --no-verify --dry-run -p ${PKG}
        else
          echo "Test run skipping crate publish"
        fi
