name: cargo-publish

on:
  push:
    tags: ['**']
    branches: ['**']
    paths:
      - ".github/workflows/cargo-publish.yml"
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Determine package to publish
      run: |
        if [[ ${{ github.ref_type }} == 'tag' ]]; then
          TAG=${{ github.ref_name }}
          echo "PUBLISH_CRATE=true" >> $GITHUB_ENV
        elif [[ -n "${{ inputs.tag }}" ]]; then
          TAG=${{ inputs.tag }}
          echo "Doing a dry run for tag: ${TAG}"
        else
          TAG=pkgcraft
          echo "Doing a test run for pkgcraft"
        fi

        echo "PKG=${TAG%%-[0-9]*}" >> $GITHUB_ENV
        echo "VERSION=${TAG##*[a-z]-}" >> $GITHUB_ENV

    - name: Checkout code
      uses: actions/checkout@v6
      with:
        submodules: true

    - name: Build the required scallop release
      run: |
        # determine required version
        version=$(sed -rn "/^PACKAGE_VERSION=/ s/^.*='(.*)'/\1/p" crates/scallop/bash/configure)
        pkg="scallop-${version}"
        echo "Building and installing: ${pkg}"

        # fetch and unpack
        curl -L https://github.com/pkgcraft/bash/releases/download/${pkg}/${pkg}.tar.xz | tar -xJ

        # build and install scallop
        cd ${pkg}
        ./configure-scallop
        make -j libscallop.so
        sudo make install-library install-headers

        # make scallop crate use shared library
        echo "SCALLOP_NO_VENDOR=1" >> $GITHUB_ENV
        echo "PKG_CONFIG_LIBDIR=/usr/local/lib/pkgconfig" >> $GITHUB_ENV
        echo "LD_LIBRARY_PATH=/usr/local/lib" >> $GITHUB_ENV

    - name: Set up rust toolchain
      uses: dtolnay/rust-toolchain@stable

    - name: Install protoc
      uses: taiki-e/install-action@protoc

    - name: Install cargo-nextest
      uses: taiki-e/install-action@nextest

    - name: Run tests for package
      run: cargo nextest run --all-features --tests -p ${PKG}

    - name: Clean up git repos
      run: |
        git clean -fxd
        git submodule foreach --recursive git clean -fxd

    - name: Publish crate
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      run: |
        if [[ ${{ github.ref_type }} == 'tag' ]]; then
          cargo publish --no-verify -p ${PKG}
        elif [[ -n "${{ inputs.tag }}" ]]; then
          cargo publish --no-verify --dry-run -p ${PKG}
        else
          echo "Test run skipping crate publish"
        fi
