name: pkgcraft-c

on:
  push:
    # TODO: temporarily disable until bindings are updated
    branches: ['test']
    paths:
      - "crates/scallop/**"
      - "crates/pkgcraft/**"
      - "crates/pkgcraft-c/**"
      - ".github/workflows/pkgcraft-c.yml"
      - "!crates/*/benches/**"
      - "!crates/*/tests/**"
      - "!**/README.md"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        submodules: true

    - name: Set pkgcraft dir env
      run: echo pkgcraft_dir=~/pkgcraft >> $GITHUB_ENV

    - name: Set up rust toolchain
      uses: dtolnay/rust-toolchain@stable
      id: rust

    - name: Restore cache
      uses: actions/cache/restore@v4
      id: restore-cache
      with:
        path: |
          ~/.cargo/bin
          ~/.cargo/registry/index
          ~/.cargo/registry/cache
          ~/.cargo/git/db
          target
        key: ${{ github.workflow }}-${{ github.job }}-${{ runner.os }}-rust-${{ steps.rust.outputs.cachekey }}-cargo-${{ hashFiles('Cargo.lock') }}

    - name: Remove old caches
      if: ${{ github.ref_name == 'main' && steps.restore-cache.outputs.cache-hit != 'true' }}
      continue-on-error: true
      run: |
        gh extension install actions/gh-actions-cache

        REPO=${{ github.repository }}
        BRANCH=${{ github.ref }}
        KEY=${{ github.workflow }}-${{ github.job }}-${{ runner.os }}-rust-

        # find matching caches
        mapfile -t cache_keys < <( gh actions-cache list -R $REPO -B $BRANCH --key $KEY | cut -f 1 )

        # remove all matching caches
        for key in ${cache_keys[@]}
        do
          gh actions-cache delete $key -R $REPO -B $BRANCH --confirm
        done

        exit 0
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Install cargo-c via binary package on Linux
      if: runner.os == 'Linux'
      run: curl -L https://github.com/lu-zero/cargo-c/releases/latest/download/cargo-c-x86_64-unknown-linux-musl.tar.gz | tar xvzf - -C ~/.cargo/bin

    - name: Install cargo-c via binary package on MacOS
      if: runner.os == 'macOS'
      run: |
        curl -L https://github.com/lu-zero/cargo-c/releases/latest/download/cargo-c-macos.zip > cargo-c.zip
        unzip -o cargo-c.zip -d ~/.cargo/bin
        rm cargo-c.zip

    - name: Build C library
      run: |
        cargo cinstall --version
        cargo cinstall --prefix="${pkgcraft_dir}" --pkgconfigdir="${pkgcraft_dir}" --libdir="${pkgcraft_dir}" -p pkgcraft-c
        tar -cv -I "xz -9 -T0" -f pkgcraft-c.tar.xz -C ${pkgcraft_dir} .

        echo "PKG_CONFIG_PATH=${pkgcraft_dir}" >> $GITHUB_ENV
        echo "LD_LIBRARY_PATH=${pkgcraft_dir}" >> $GITHUB_ENV
        echo "DYLD_LIBRARY_PATH=${pkgcraft_dir}" >> $GITHUB_ENV

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: pkgcraft-c-${{ runner.os }}
        path: pkgcraft-c.tar.xz
        if-no-files-found: error

    - name: Save cache
      if: ${{ github.ref_name == 'main' && steps.restore-cache.outputs.cache-hit != 'true' }}
      uses: actions/cache/save@v4
      with:
        path: |
          ~/.cargo/bin
          ~/.cargo/registry/index
          ~/.cargo/registry/cache
          ~/.cargo/git/db
          target
        key: ${{ steps.restore-cache.outputs.cache-primary-key }}

  pkgcraft-python:
    needs: build
    uses: pkgcraft/pkgcraft-python/.github/workflows/ci.yml@main
    secrets: inherit
    with:
      python-version: '3.x'
      event-type: 'call'

  pkgcraft-go:
    needs: build
    uses: pkgcraft/pkgcraft-go/.github/workflows/ci.yml@main
    secrets: inherit
    with:
      go-version: 'stable'
      event-type: 'call'

  pkgcraft-perl:
    needs: build
    uses: pkgcraft/pkgcraft-perl/.github/workflows/ci.yml@main
    secrets: inherit
    with:
      perl-version: '5'
      event-type: 'call'

  pkgcraft-ruby:
    needs: build
    uses: pkgcraft/pkgcraft-ruby/.github/workflows/ci.yml@main
    secrets: inherit
    with:
      ruby-version: '3.3'
      event-type: 'call'
